body {
    background-image: url(gadgets.jpg);
    background-size: cover;
    margin-top: 10%;
    /* margin-left: 5%; */

    font-family: monospace;
    font-weight: bolder;
    text-align: center;

}

/* h2 {
    text-decoration: underline;
} */